<%- include("./state"); %>

<% if (error){ %>
    <div id="canvas" hx-swap-oob="outerHTML" class="p-4 pb-15">
        <div id="pattern_preview" class="border-2 border-default-dark w-min m-5">
            <div class="w-[500px] h-[500px] text-center flex items-center justify-center">
                An Error Occured
            </div>
        </div>
        
        <div id="render_message" class="overflow-auto m-5 bg-gray-300 min-w-[504px] w-min">
            <pre
                class="text-left p-5 leading-[1.3rem]"
        ><%= msg %></pre>
        </div>
    </div>
<% } else if (render_type === "sketch"){ %>
    <div id="canvas" hx-swap-oob="outerHTML" class="p-4 pb-15">
        <div class="flex flex-row flex-wrap gap-4 justify-start">
            <%- include("./card", { svg: to_render.to_dev_svg(500, 500), data: to_render.data }); %>
        </div>
    </div>
<% } else if (render_type === "sewing"){ %>
    <div id="canvas" hx-swap-oob="outerHTML" class="p-4 pb-15">
        <div class="flex items-center gap-6 bg-zinc-800 rounded-xl px-6 py-4 text-white mb-4 w-fit">
            <input
                id="slider"
                type="range" 
                min="0" 
                max="<%= to_render.renderers.length %>" 
                step="1"
                value="0" 
                class="w-48 h-2 bg-gray-600 rounded-lg appearance-none cursor-pointer slider [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:w-5 [&::-webkit-slider-thumb]:h-5 [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:bg-white [&::-webkit-slider-thumb]:border-none [&::-moz-range-thumb]:appearance-none [&::-moz-range-thumb]:w-5 [&::-moz-range-thumb]:h-5 [&::-moz-range-thumb]:rounded-full [&::-moz-range-thumb]:bg-white [&::-moz-range-thumb]:border-none"
            />
            <span id="sliderDisplay" class="text-xl font-medium flex items-center -translate-y-0.5">Step: [Pattern] | 0/<%= to_render.renderers.length %></span>
        </div>
        <div class="render-step" data-step="0" data-type="pattern">
            <div class="flex flex-row flex-wrap gap-4 justify-start">
                <% for (const sketch of to_render.sketches){ %>
                    <%- include("./card", { svg: sketch.to_dev_svg(500, 500), data: sketch.data }); %>
                <% } %>
            </div>
        </div>
        <% for (let i = 0; i < to_render.renderers.length; i++){ %>
            <div class="render-step hidden" data-step="<%= i + 1 %>" data-type="<%= to_render.renderers[i].render_step %>">
                <div class="flex flex-row flex-wrap gap-4 justify-start">
                    <% for (const sketch of to_render.sketches){ %>
                        <%- include("./card", {
                            svg: to_render.renderers[i].render_sketch(sketch, 500, 500, 20),
                            data: sketch.data
                        }); %>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
<% } %>
