<%
// Initialize the array of key-value pairs
let measurements = [
    { 
        key: "Tail Length", 
        value: null, 
        urls: [],
        description: "whaaa"
    },
  { key: "Width", value: null, unit: "cm" },
  { key: "Height", value: null, unit: "cm" }
];
%>

<div class="table_panel measurements_panel">
  <form action="/submit-measurements" method="post">
    <div class="measurements_items">
        <% measurements.forEach((item, index) => { %>
            <div class="measurement-item">
              <label for="measurement-<%= index %>"><%= item.key %>:</label>
              <input
                type="text"
                id="measurement-<%= index %>"
                name="measurement[<%= item.key %>]"
                value="<%= item.value !== null ? item.value : '' %>"
                placeholder="Enter <%= item.key %>"
                required
              >
              <span>cm</span>
            </div>
            <br>
          <% }); %>
    </div>
    <button type="submit">Done</button>
  </form>
</div>
