<%
// Initialize the array of key-value pairs
let measurements = [
    { 
        key: "Tail Length", 
        value: null, 
        urls: [],
        description: "whaaa"
    },
  { key: "Width", value: null, unit: "cm" },
  { key: "Height", value: null, unit: "cm" }
];
%>

<div class="table_panel measurements_panel">
  <form action="/submit-measurements" method="post">
    <input type="hidden" name="user_ident" value="<%= ident %>">

    <div class="measurements_items">
        <% measurements.forEach((item, index) => { %>
            <div class="measurement-item">
              <label for="measurement-<%= index %>" <%
                  if (item.error) {
              %> style="color: red" <%
                  }
              %>><%= item.key %>:</label>
              <input
                type="text"
                id="measurement-<%= index %>"
                name="measurement[<%= item.key %>]"
                value="<%= item.value !== null ? item.value : '' %>"
                placeholder="Enter <%= item.key %>"
                required
              >
              <span <%
                  if (item.error) {
              %> style="color: red" <%
                  }
              %>>cm</span>
            </div>
            <br>
          <% }); %>
    </div>
    <button type="submit">Done</button>
    <button type="logout">Log Out</button>
  </form>
</div>
