<div class="table_panel svg_wrapper svg_option_wrapper" hx-post="/choose_specific_option" 
hx-vals='{"config_type": "option", "current_selection_option_id": "<%= current_selection_option_id %>", "ident": "<%= ident %>", "option": "<%= option %>"}' 
hx-swap="none">
    <h3><%- text %></h3>
    <%- svg %>
</div>