<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= route %></title>
    <%- assets["sketch.css"] %>
    <%- assets["add_svg_hover_events.js"] %>
</head>
<body>
    <h2><a href="/at_url" style="text-decoration: none">$</a><%= route %></h2>
    <main id="data-container">
        <div id="sketch_display">
            <%- svg %>
        </div>
        <pre id="data_pre"><%= data ? JSON.stringify(data, true, 2) : "SKETCH_DATA: " + JSON.stringify(sketch_data, true, 2); %></pre>

        <script>
            add_svg_hover_events();

            // For monitor sketch request
            function update_display(request_result){
                dataContainer.innerHTML = request_result.svg;
                add_svg_hover_events();

                const pre = document.getElementById("data_pre");
                if (request_result.data){
                    pre.textContent = JSON.stringify(request_result.data, true, 2);
                } else {
                    pre.textContent = "SKETCH_DATA: " + JSON.stringify(request_result.sketch_data, true, 2);
                }
            }

            const local_live_view_type = "snapshot";
        </script>
    </main>
    <div id="doesnt_exist">The route doesn't exist anymore. <br><br><small>Perhaps there was an error before getting to this point.</small></div>
    <script>const route = '<%= route %>';</script>
    <script src="/at_url/monitor_sketch_reset.js"></script>
</body>
</html>
