<div class="param_box param_number" x-name="<%= name %>" x-value="<%= settings.default %>" x-component-path="<%- serialized_path %>">
    <div class="number_input_top_row">
        <div class="numper_input_value"><%= settings.default %></div>
        <div class="param_name"><%= name %></div>
    </div>
    <input type="range" min="<%= settings.min %>" value="<%= settings.default  %>" x-default="<%= settings.default  %>" max="<%= settings.max %>" step="<%= settings.step_size %>">
</div>