<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= CONF.website_path %>/fonts/fontawesome/main.css">
    <title>Dev Frontend</title>

    <link rel="stylesheet" href="<%= CONF.website_path %>/css/dev_area/linktree.css">
</head>
<body>
    <h2 id="linktree_title"><i class="fa-solid fa-heart"></i> Navigation</h2>
    <div id="linktree">
        <a href="<%= CONF.website_path %>/<%= CONF.editing_key %>">Editing</a>
        <a href="<%= CONF.website_path %>/testing">Testing</a>
        <a href="<%= CONF.website_path %>/folder">Folder</a>
        <a>Stuff</a>
    </div>
</body>
</html>