<div class="overflow-y-auto p-4 pl-6 border-r-2 w-sm" id="featureSelection" hx-swap-oob="outerHTML">
    <h3 class="text-xl p-5 pl-0 text-left"><%= pictureParts[state.current_part_selected].name %></h3>
    <div class="flex flex-wrap gap-2 flex-row h-min">
      <% 
        const currrent_choice = state.current_choices[state.current_part_selected]
        const part = pictureParts[state.current_part_selected];
        for (let i = 0; i < part.choices.length; i++) { 
          const picture = part.choices[i];
      %>
        <div class="border-2 rounded-xl w-24 h-24 cursor-pointer overflow-hidden <% if (i == currrent_choice) { %> border-emerald-400 <% } %>"
             hx-post="/htmx/pictures/"
             hx-vals='{"choice_at_current_part": <%= i %>}'
             hx-include="#application_state"
             hx-target="#featureSelection"
             hx-swap="outerHTML">
          <img src="/partial_pictures/<%= part.name %>/<%= picture %>?width=20"
               class="w-full h-full object-cover object-center scale-[1.2]" />
        </div>
      <% } %>
    </div>
  </div>
  
  <% if (typeof render_data !== "undefined") { %>        
    <%- include("./sewing_pattern"); %>
  <% } %>
  <%- include("./preview"); %>
  <%- include("./state"); %>
  