<div class="param_box param_number" x-name="<%= p.name %>" x-default-value="<%- p.default %>">
    <div class="number_input_top_row">
        <div class="numper_input_value"><%= p.default %></div>
        <div class="param_name"><%= p.name %></div>
    </div>
    <input type="range" min="<%= p.min %>" value="<%= p.default  %>" max="<%= p.max %>" step="<%= p.step_size %>">
</div>